<h2><%= t('views.common.title_edit', name: t('views.common.profile')) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autofocus: false, autocomplete: "postal-code" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: false, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction, autofocus: false, autocomplete: "introduction" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update') %>
  </div>
<% end %>

<%= link_to t('views.common.back', name: t('views.common.profile')), :back %>
