<div class="comment" id="<%= dom_id(comment) %>">
  <div class="comment-header">
    <span class="comment-author"><%= comment.user_name %></span>
    <span class="comment-date"><%= comment.created_at.in_time_zone("Tokyo").strftime("%Y年%m月%d日 %H:%M") %></span>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if user_signed_in? && comment.user == current_user && comment.user.present? %>
    <div class="comment-actions">
      <% if comment.commentable.is_a?(Report) %>
        <%= button_to t('views.comments.destroy'),
                      report_comment_path(comment.commentable, comment),
                      method: :delete,
                      class: 'btn btn-danger btn-sm',
                      data: { confirm: t('views.comments.confirm_destroy') } %>
      <% elsif comment.commentable.is_a?(Book) %>
        <%= button_to t('views.comments.destroy'),
                      book_comment_path(comment.commentable, comment),
                      method: :delete,
                      class: 'btn btn-danger btn-sm',
                      data: { confirm: t('views.comments.confirm_destroy') } %>
      <% end %>
    </div>
  <% end %>
</div>
