<div id="<%= dom_id user %>">

  <div class="user-icon">
    <% if user.icon.attached? %>
      <%= image_tag user.icon, size: "80x80", class: "user-avatar" %>
    <% else %>
      <div class="default-avatar">No Image</div>
    <% end %>
  </div>

  <p>
    <strong><%= User.human_attribute_name(:email) %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
    <%= user.postal_code %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:address) %>:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
    <%= user.self_introduction %>
  </p>

</div>
