<h1><%= t('users.index.title', default: 'ユーザ一覧') %></h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:postal_code) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th><%= User.human_attribute_name(:introduction) %></th>
      <th><%= t('users.index.detail', default: '詳細') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to t('users.index.detail', default: '詳細'), user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('users.index.books', default: '本の一覧'), books_path %>
