<h1><%= t('users.show.title', default: 'ユーザ詳細') %></h1>
<ul>
  <li><strong><%= User.human_attribute_name(:email) %>:</strong> <%= @user.email %></li>
  <li><strong><%= User.human_attribute_name(:postal_code) %>:</strong> <%= @user.postal_code %></li>
  <li><strong><%= User.human_attribute_name(:address) %>:</strong> <%= @user.address %></li>
  <li><strong><%= User.human_attribute_name(:introduction) %>:</strong> <%= @user.introduction %></li>
</ul>
<%= link_to t('users.show.users', default: 'ユーザ一覧'), users_path %> |
<%= link_to t('users.show.books', default: '本の一覧'), books_path %>
