<div id="<%= dom_id book %>">
  <p>
    <strong><%= Book.human_attribute_name(:title) %>:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong><%= Book.human_attribute_name(:memo) %>:</strong>
    <%= book.memo %>
  </p>

  <p>
    <strong><%= Book.human_attribute_name(:author) %>:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong><%= Book.human_attribute_name(:picture) %>:</strong>
    <%= image_tag(book.picture_url) if book.picture.present? %>
  </p>

  <%= link_to t('books.show.users', default: 'ユーザ一覧'), users_path %> |
  <%= link_to t('books.show.profile', default: 'プロフィール'), profile_path %>

</div>
