<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <% if user_signed_in? %>
      <%= button_to t('devise.sessions.sign_out', default: 'サインアウト'), destroy_user_session_path, method: :delete %>
      <%= link_to t('users.index.title', default: 'ユーザ一覧'), users_path %>
      <% unless current_page?(profile_path) %>
        | <%= link_to t('users.profile.title', default: 'プロフィール'), profile_path %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
