<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <div style="text-align: right; padding: 10px;">
      <%= link_to "日本語", change_locale_path(:ja), style: "margin-right: 10px;" %>
      <%= link_to "English", change_locale_path(:en) %>
    </div>
    <%= yield %>
  </body>
</html>
